<script>
    // Open the Modal
    function openModal() {
      document.getElementById('myModal').style.display = "block";
    }
    
    // Close the Modal
    function closeModal() {
      document.getElementById('myModal').style.display = "none";
    }
    
    var slideIndex = 1;
    showSlides(slideIndex);
    
    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>

<!-- <script>

  // make Painting object constructor
  function Painting(sourceURL, title, media) {
    this.sourceURL = sourceURL;
    this.title = title;
    this.media = media;
  }

  // example
  var examplePainting = new Painting("s3link", "This is the title of a painting", "oil on canvas");

  // put the paintings into the img tags
  for (painting in paintingsArray) {
    // getElementsByTagName("img") actually returns an array of all "img" tags so this needs to be a for loop too i think (same array as document.images? not sure)
    document.getElementsByTagName("img").src = painting.url;
  }

  try {
    // code for pulling paintings from s3 and putting them into an array of painting objects that is then pulled from in paintings.html to create lightbox gallery;

            function getPaintingURLs(n) {
              var i;
              document.getElementsByTagName("img").src = "i";
              var x = {srcURL: "i", title: "title"};
            }

            // first, a function to grab the s3 urls and put them in an array
            function getPaintingURLs() {
              var paintingURLArray = ["s3link", "s3link", "s3link"];
              // get 'em
            }

            // create array of objects (paintings) with s3 url as attribute
            function createPaintingsArray(n) {
              var paintings = [];
              for (i in paintingURLArray) {
                paintings[i].url = paintingURLArray[i];

                // or
                paintings.push(
                  {url: paintingURLArray[i]}
                  );
                // ??
              }
              //or
              for (i = 0; i < paintingURLArray.length; i++) {
                paintings[i].url = paintingURLArray[i];

                // or
                paintings.push(
                  {url: paintingURLArray[i], title: "a title", date: "yyyymmdd", media: "default media"}
                  );
                // ??
              }
            }


            function sortPaintingsByDateReverseChrono() {
              paintings.sort(function(a,b){return b.date - a.date});
            }

            // change each img src to each s3 url in order (for loop here or in html?)

            // optional: give each img a caption (or other properties) that goes with it (the title and media)
  }
  catch(err) {
    document.getElementById("errortext").innerHTML = err.message;
  }

</script> -->